<div class="container">
  <div class="row">
    <div class="artist-photo col-md-3">
      <%= image_tag(@artist.photo_url)  %>
    </div>

    <div class="artist-details col-md-3">
      <h2><%= @artist.name %></h2><br>
      <h3><%= @artist.email %></h3><br>
      <h4><%= @artist.location %></h4><br>
    </div>

    <div class="artist-bio col-md-3">
      <p><%= @artist.bio %></p>
    </div>
  </div>

  <div class="row col-md-12">
    <div class="artist-followers col-md-4">
      <% 15.times do %>
      <p class="artist-follower"> <%= "Artist follower" %> </p>
      <% end %>
    </div>

    <div class="artist-shows col-md-4">
      <% 5.times do %>
      <p class="artist-follower"> <%= "Artist show" %> </p>
      <% end %>
    </div>
  </div>
</div>