<div class="container">
  <div class="photo">
    <%= image_tag(@artist.photo_url)  %>
  </div>

  <div class="artist-details">
    <%= @artist.name %>
    <%= @artist.email %>
    <%= @artist.location %>
  </div>

  <div class="bio">
    <%= @artist.bio %>
  </div>

  <div class="followers">

  </div>

  <div class="shows">

  </div>
</div>