<div class="container">
  <%= image_tag(@fan.photo_url, :html => { :class => "img-responsive"})  %>
</div>

<div class="container">
  <h2><%= @fan.first_name %> <%= @fan.last_name %></h2>
  <h2><%= @fan.location %></h2>
</div>

<div class="container">
  <h2><%= @fan.bio %></h2>
</div>

<div class="container">
</div>